<EditorConfig>
  <TypedSvarViews>
    <TypedSvarView>
      <typeInfo>Boolean</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/BooleanSVarViewGenerator883db8555e90401ab4e0ec28ce59982d.scala</fileName>
          <className>simx.components.editor.gui.BooleanSVarViewGenerator883db8555e90401ab4e0ec28ce59982d</className>
          <usedForSVars>
            <sVarIdentifier>Boolean</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>java.awt.Color</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/ColorSVarViewGeneratord160f0c23cb84d2ab0f00b88bd85773f.scala</fileName>
          <className>simx.components.editor.gui.ColorSVarViewGeneratord160f0c23cb84d2ab0f00b88bd85773f</className>
          <usedForSVars>
            <sVarIdentifier>diffuseColor</sVarIdentifier>
            <sVarIdentifier>specularColor</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>java.awt.image.BufferedImage</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/BufferedImageSVarViewGeneratorf8550edb70414ae285ce22feb791b03a.scala</fileName>
          <className>simx.components.editor.gui.BufferedImageSVarViewGeneratorf8550edb70414ae285ce22feb791b03a</className>
          <usedForSVars>
            <sVarIdentifier>Image</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>scala.collection.immutable.Map$EmptyMap$</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/Map$EmptyMap$SVarViewGenerator10d0342c6892435bb6329671aab2f724.scala</fileName>
          <className>simx.components.editor.gui.Map$EmptyMap$SVarViewGenerator10d0342c6892435bb6329671aab2f724</className>
          <usedForSVars>
            <sVarIdentifier>tuioCursors</sVarIdentifier>
            <sVarIdentifier>tuioObjects</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simplex3d.math.floatx.ConstMat4f</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/ConstMat4fSVarViewGenerator171103effeec48f7ad46a05b01bc050e.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarViewGenerator171103effeec48f7ad46a05b01bc050e</className>
          <usedForSVars/>
        </SVarView>
        <SVarView>
          <fileName>src/ConstMat4fSVarViewGeneratorded9e79cfaca4a538cccf7da1b972311.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarViewGeneratorded9e79cfaca4a538cccf7da1b972311</className>
          <usedForSVars>
            <sVarIdentifier>transformation</sVarIdentifier>
          </usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>src/ConstMat4fSVarViewGeneratore1688f7d34ec439e8fe5685c6da36f9c.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarViewGeneratore1688f7d34ec439e8fe5685c6da36f9c</className>
          <usedForSVars>
            <sVarIdentifier>Transformation</sVarIdentifier>
            <sVarIdentifier>headTransform</sVarIdentifier>
            <sVarIdentifier>viewPlatform</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simplex3d.math.floatx.ConstVec3f</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGenerator147c9eda882846599cb0f7eda406394f.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGenerator147c9eda882846599cb0f7eda406394f</className>
          <usedForSVars/>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGenerator211b2562e1704ce0888453497f4356e3.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGenerator211b2562e1704ce0888453497f4356e3</className>
          <usedForSVars>
            <sVarIdentifier>Acceleration</sVarIdentifier>
          </usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGenerator49fa0fd6ad4b49c58c2b442a990e3aef.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGenerator49fa0fd6ad4b49c58c2b442a990e3aef</className>
          <usedForSVars/>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGenerator66ede5a13eab476792d916f301ca73ac.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGenerator66ede5a13eab476792d916f301ca73ac</className>
          <usedForSVars>
            <sVarIdentifier>Position</sVarIdentifier>
          </usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGenerator884252b7bc3e4ca8ab97b5ef2e7d9925.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGenerator884252b7bc3e4ca8ab97b5ef2e7d9925</className>
          <usedForSVars>
            <sVarIdentifier>Velocity</sVarIdentifier>
          </usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGeneratorce46cb51452544178e040e1340773449.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGeneratorce46cb51452544178e040e1340773449</className>
          <usedForSVars/>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGeneratore35d98031cf74ec79e5a46f3577701d6.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGeneratore35d98031cf74ec79e5a46f3577701d6</className>
          <usedForSVars>
            <sVarIdentifier>Direction</sVarIdentifier>
          </usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>src/ConstVec3fSVarViewGeneratorfb96af7dac0d4dd6a9ebc613ba2295e4.scala</fileName>
          <className>simx.components.editor.gui.ConstVec3fSVarViewGeneratorfb96af7dac0d4dd6a9ebc613ba2295e4</className>
          <usedForSVars/>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
  </TypedSvarViews>
  <TypedSvarSetters>
    <TypedSvarSetter>
      <typeInfo>Boolean</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/BooleanSVarSetterGenerator945337032d9a4019b6be3a8387fd15bd.scala</fileName>
          <className>simx.components.editor.gui.BooleanSVarSetterGenerator945337032d9a4019b6be3a8387fd15bd</className>
          <usedForSVars>
            <sVarIdentifier>Enabled</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>Float</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/FloatSVarSetterGenerator5ebf46f01bd845d3a30c1c454fe4a0bc.scala</fileName>
          <className>simx.components.editor.gui.FloatSVarSetterGenerator5ebf46f01bd845d3a30c1c454fe4a0bc</className>
          <usedForSVars/>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.awt.Color</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/ColorSVarSetterGeneratorfe7f4cec6e4246c2b922c328dd4d57d5.scala</fileName>
          <className>simx.components.editor.gui.ColorSVarSetterGeneratorfe7f4cec6e4246c2b922c328dd4d57d5</className>
          <usedForSVars>
            <sVarIdentifier>diffuseColor</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.awt.Font</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/FontSVarSetterGenerator47134f2e546b4c8b916aeb29f00ccddc.scala</fileName>
          <className>simx.components.editor.gui.FontSVarSetterGenerator47134f2e546b4c8b916aeb29f00ccddc</className>
          <usedForSVars>
            <sVarIdentifier>Font</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.io.File</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/FileSVarSetterGenerator88daf25e7d584926a79f97858bd30802.scala</fileName>
          <className>simx.components.editor.gui.FileSVarSetterGenerator88daf25e7d584926a79f97858bd30802</className>
          <usedForSVars/>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Boolean</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/BooleanSVarSetterGeneratorbc3c1c8da9e946cb8c26b5887e725e41.scala</fileName>
          <className>simx.components.editor.gui.BooleanSVarSetterGeneratorbc3c1c8da9e946cb8c26b5887e725e41</className>
          <usedForSVars/>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Float</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/FloatSVarSetterGeneratorac52c274df4649c4914e6bab50360036.scala</fileName>
          <className>simx.components.editor.gui.FloatSVarSetterGeneratorac52c274df4649c4914e6bab50360036</className>
          <usedForSVars>
            <sVarIdentifier>restitution</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
        <SVarSetter>
          <fileName>src/FloatSVarSetterGeneratord4fa400ebfec4773a1fa774e98c68f9a.scala</fileName>
          <className>simx.components.editor.gui.FloatSVarSetterGeneratord4fa400ebfec4773a1fa774e98c68f9a</className>
          <usedForSVars>
            <sVarIdentifier>angularFactor</sVarIdentifier>
            <sVarIdentifier>constantAttenuation</sVarIdentifier>
            <sVarIdentifier>linearAttenuation</sVarIdentifier>
            <sVarIdentifier>minDistanceToNeighbors</sVarIdentifier>
            <sVarIdentifier>minDistanceToPredators</sVarIdentifier>
            <sVarIdentifier>quadraticAttenuation</sVarIdentifier>
            <sVarIdentifier>shadowBias</sVarIdentifier>
            <sVarIdentifier>spotCutOff</sVarIdentifier>
            <sVarIdentifier>spotExponent</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Integer</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/IntegerSVarSetterGenerator8a8c151931de45bebdbdb183ec3cb419.scala</fileName>
          <className>simx.components.editor.gui.IntegerSVarSetterGenerator8a8c151931de45bebdbdb183ec3cb419</className>
          <usedForSVars/>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.String</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/StringSVarSetterGenerator749d7b6a618d4d96a1ac0aad3ac47f1e.scala</fileName>
          <className>simx.components.editor.gui.StringSVarSetterGenerator749d7b6a618d4d96a1ac0aad3ac47f1e</className>
          <usedForSVars>
            <sVarIdentifier>String</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
        <SVarSetter>
          <fileName>src/StringSVarSetterGenerator7f43c7c885aa41ae904f00496b058966.scala</fileName>
          <className>simx.components.editor.gui.StringSVarSetterGenerator7f43c7c885aa41ae904f00496b058966</className>
          <usedForSVars>
            <sVarIdentifier>File</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>simplex3d.math.floatx.ConstMat4f</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/ConstMat4fSVarSetterGeneratore414020ca06e4f9f885a89bc3a20a4fe.scala</fileName>
          <className>simx.components.editor.gui.ConstMat4fSVarSetterGeneratore414020ca06e4f9f885a89bc3a20a4fe</className>
          <usedForSVars>
            <sVarIdentifier>transformation</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>simplex3d.math.floatx.ConstVec2f</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>src/ConstVec2fSVarSetterGenerator039be9b1d2e541669f4dd62d68327236.scala</fileName>
          <className>simx.components.editor.gui.ConstVec2fSVarSetterGenerator039be9b1d2e541669f4dd62d68327236</className>
          <usedForSVars>
            <sVarIdentifier>Position2D</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
  </TypedSvarSetters>
</EditorConfig>